In [2]:
import pandas as pd

In [3]:
pd.read_csv("lagerstatus.csv")

       Paket_id  Vikt  Förtjänst  Deadline
0    2472920742   9.6          5         3
1    2472920743   8.8          3        -1
2    2472920744  10.6          6         0
3    2472920745   3.1          5         0
4    2472920746   9.8          5         4
..          ...   ...        ...       ...
995  2472921737   5.0          7         2
996  2472921738   5.5          8        -1
997  2472921739   9.1          4         1
998  2472921740   8.6          9         4
999  2472921741   2.9          6         3

[1000 rows x 4 columns]